* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  color: rgb(234, 234, 234);
  /* background-color: #06141d; */
}

/* Header/logo Title */
.header {
  padding: 10px;
  max-height: 70px;
  background: #2c3e50;
  color: white;
  box-shadow: 0 5px 13px 0 rgba(0,0,0,0.2);
  margin-bottom: 4px;
}

.container{
  margin-left: 30px;
  margin-right: 30px;
}

.logo{
  margin-left: 30px;
  margin-bottom: 14px;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side-left {
  text-align: center;
  flex: 25%;
  padding-left: 10px;
  padding-right: 5px;
}

/* Sidebar/right column */
.side-right {
  flex: 25%;
  padding-right: 10px;
  padding-left: 5px;
}

/* Main column */
.main {
  flex: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

/* card */
.card {
  background-color: #34495e;
  padding: 28px;
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.item-container {
  display: flex;
  align-items: stretch;
}

.item-container > .col-max {
  color: rgb(7, 5, 5);
  width: 100%;
  padding: 10px;
}

.item-container > .profile-name {
  color: #ddd;
  font-size: 12pt;
  font-weight: bolder;
  width: 70%;
  padding: 10px;
  text-align: left;
}

.item-container > .profile-name > p {
  color: rgb(137, 135, 135);
  font-size: 8pt;
  font-weight: lighter;
  text-align: left;
  margin-top: 0;
}

.item-container > .action-button {
  width: 100%;
  text-align: right;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10px;
  padding: 10px;
}

.form-input-posting {
  background-color: #ececec;
  height: 70px;
  border-radius: 20px;
  border: none;
  margin-right: 20px;
  width: 100%;
  padding: 12px;
}

.avatar {
  background-image: url("/assets/images/100_6.jpg");
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20;
}

.button {
  background-color: #2a3843;
  border: none;
  color: #00e0ff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #06141d;
  color: #fff;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row,
  .navbar {
    flex-direction: column;
  }
}
